ul {
	list-style-type: none;
}
.box {
	text-align: center;
}
/* button {
	margin-left: 5px;
	padding: 5px 10px;
	border: 0px;
	cursor: pointer;
	background-color: black;
	color: white;
} */
.completed {
    background-color: greenyellow;
}
.incomplete {
    background-color: red;
}