/* h1 {
	font-size: 5rem;
} */
/* .box2 {
	background-color: rgb(20, 13, 20);
	color: white;
} */

main{
	min-height: 90vh;
	max-width: 1200px;
	margin: auto;
	padding: 10px;
}
.header a{
	text-decoration: none;
}